{{!
    This file is part of the Plugin Type tytorial imparted at the Global Moot 2020

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template contenttype_html/syllabus

    This is a simple example template for syllabus HTML content.

}}
<h2>Orange School syllabus template</h2>
<p>Note: replace the upper case text with your course information.
<h3>YOUR COURSE NAME course syllabus</h3>
<h3>Instructor information</h3>
<ul>
    <li>Instructor: YOUR NAME</li>
    <li>Office: OFFICE</li>
    <li>Office hours: AVAILABLE TIMETABLE</li>
    <li>Office Telephone: TELEPHONE</li>
    <li>E-mail: EMAIL@orange.edu</li>
</ul>

<h3>Instructor information</h3>
<p>COPY COURSE DESCRIPTION</p>

<h3>Student Learning Outcomes</h3>
<p>At the conclusion of this class, you will be able to:</p>
<ul>
    <li>OUTCOME 1</li>
    <li>OUTCOME 2</li>
</ul>

<h3>Course Objectives</h3>
<p>Upon completion of this course, students have demonstrated the ability to:</p>
<ul>
    <li>OBJECTIVE 1</li>
    <li>OBJECTIVE 2</li>
</ul>

<h3>Online Course Schedule</h3>
<ol>
    <li>Week 1
        <ol>
            <li>Topic: TOPIC WEEK ONE<li>
            <li>Content duration: DURATION hours</li>
            <li>Work estimation: DURATION hours</li>
        </ol>
    </li>
    <li>Week 2
        <ol>
            <li>Topic: TOPIC WEEK TWO<li>
            <li>Content duration: DURATION hours</li>
            <li>Work estimation: DURATION hours</li>
        </ol>
    </li>
    <li>Week 3
        <ol>
            <li>Topic: TOPIC WEEK THREE<li>
            <li>Content duration: DURATION hours</li>
            <li>Work estimation: DURATION hours</li>
        </ol>
    </li>
    <li>Week 4
        <ol>
            <li>Topic: TOPIC WEEK FOUR<li>
            <li>Content duration: DURATION hours</li>
            <li>Work estimation: DURATION hours</li>
        </ol>
    </li>
</ol>

<h3>Grading Policy</h3>
<p>Final grades assigned for this course will be based on the percentage of total points
earned in the following activities:</p>
<ol>
    <li>ACTIVITY NAME: PERCENTAGE% of the final grade</li>
    <li>ACTIVITY NAME: PERCENTAGE% of the final grade</li>
</ol>
